
.cart__imagen:hover ~ #cart {
    display: flex;
    opacity: 1;
}

#cart:hover {
    display: flex;
    opacity: 1;
}

#cart {
    opacity: 0;
    z-index: 1;
    display: none;
    width: 85%;
    min-height: 125px;
    max-height: 330px;
    max-width: 290px;
    overflow: auto;
    /* background-color: #fff; */
    /* background-color: lightgray; */
    background-color: #C4D7E0;
    position: fixed;
    bottom: 64px;
    right: 36px;
    width: 85%;
    border-radius: 10px;
    /* box-shadow: ; */
    transition: all .5s ease;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}

@media screen and (min-width: 768px) {
    #cart {
        max-width: 330px;
        top: 48px;
        bottom: auto;
    }
}

@media screen and (min-width: 1024px) {
    #cart {
        max-width: 390px;
        font-size: 1.2rem;
    }
    #cart-list tbody tr td {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1200px) {
    #cart {
        max-width: 420px;
        max-height: 380px;
        font-size: 1.3rem;
    }
    #cart-list tbody tr td {
        font-size: 1rem;
    }
}




.cart__imagen {
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 1002;
}

@media screen and (min-width: 768px) {
    .cart__imagen {
        top: 25px;
        z-index: 1001;
        height: 28px;
    }
}

#cart-list {
    width: 100%;
}

#cart-list th {
    width: 25%;
}

.cart__tabla__total {
    margin: .5rem;

}

.cart__tabla__btn {
    /* position: absolute;
    bottom: 0;
    left: calc(50% - 60px); */
    display: flex;
    width: 100%;
}

.cart__tabla__btn button {
    height: 40px;
    width: 70%;
    border: none;
    border-radius: 24px;
    margin: .5rem auto;
    /* background-color: ; */
    border: 1px solid #fff;
}


thead tr th {
    font-size: 14px;
    border: 1px solid #fff;
}

tbody tr td {
    border: 1px solid #fff;
    /* border: 1px solid green; */
    text-align: center;
    font-size: 12px;
}

tbody tr td img {
    width: 90%;
    padding: 1px;
}