@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

/* Reset css */

:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f1f1f1;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
    --background-white: #fff;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    /* Lo que se desborde se oculta */
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--background-white);
    /* background-color: #737373; */
}

img {
    /* max-width: 100%; */
    width: 100%;
    height: auto;
}








.banner {
    height: 63vh;
}

.banner__container {
    height: inherit;
}

.banner__container img {
    object-fit: cover;
    /* height: 355px; */
    height: inherit;
    /* Que vaya creciendo con media querys */
}

@media screen and (min-width: 700px) {
    .banner__container {
        height: inherit;
    }

    .banner__container img {
        height: inherit;
    }
}

@media screen and (min-width: 768px) {
    .banner {
        height: 80vh;
    }
}









.main {
    margin-top: 80px;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    width: 100%;
    min-height: 100vh;
    /* text-align: center; */
    /* background-color: #A10035; */
    /* background-color: #0078AA; */
    background-color: #6E85B7;
}

.section-container {
    max-width: var(--container-width);
}

.search__box {
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin: 1rem auto;
}

.search__box input {
    outline: none;
    border: none;
    padding: 0.68rem 1rem;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.search__box button {
    padding: 0.68rem 0.74rem;
    border: none;
    border-radius: 20px;
}


.selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 1rem; */
    padding: 2rem 0;
}

.selector .after::after {
    content: "/";
    padding: 10px;
}

.selector p a {
    text-decoration: none;
    color: #fff;
}






.shoes-card {
    /* border: 1px solid black; */
    width: 320px;
    /* background-color: #f9f5f5; */
    text-align: center;
    flex-shrink: 0;
    /* scroll-snap-align: start; */
    padding: .5rem;
}

.shoes-card:hover {
    border: 1px solid #ddd4d4;
    border-radius: 5px;
}

.shoes__card__container {
    background-color: #f9f5f5;
    padding: .5rem;
    /* box-shadow: ; */
}

.shoes-card:hover {
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#shoes-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* scroll-snap-type: x mandatory; */
    /* overflow: auto; */
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1100px) {
    #shoes-list {
        gap: 4rem;
    }
}

.card__img {
    height: 300px;
    display: block;
}

.card__img img {
    height: 300px;
}

.card__name {
    max-width: 280px;
}

.card__name,
.card__price {
    margin: .5rem 0 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #2f333a;
}

.card__category {
    font-size: .8rem;
}

.card__btn {
    margin: .5rem 0;
}

.card__btn a {
    text-decoration: none;

}





/* ----- Footer ----- */

footer {
    color: white;
    background-color: black;
    padding: 1rem 1.2rem;
    background-image: url("../img/banner-nike-1024x318.jpg");
    /* background-size: cover; */
    background-position: center;
}

.footer-main {
    max-width: 1200px;
    margin: auto;
}

.ftr-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.ftr-container h2,
h3 {
    margin: 1rem auto;
}

.ftr-1 {
    padding: 1rem 2.5rem;
}

.ftr-2 {
    padding: 1rem 2.5rem;
}

.ftr-newsletter {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ftr-newsletter input {
    height: 40px;
    margin: 0;
}

.ftr-newsletter button {
    width: 100%;
    height: 37px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: #fff;
    transition: 1s;
}

.ftr-newsletter button a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px 85px;
    border-radius: 5px;
    width: 100%;
}

.ftr-newsletter button:hover {
    background-color: black;
    transition: 0.5s;
}

.ftr-newsletter a:hover {
    color: #fff;
    transition: 0.5s;
}

.ftr-2 {
    margin-bottom: 1rem;
}

.ftr-contact-social ul li {
    display: inline-block;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 0.2rem;
    border-radius: 50%;
    transition: 0.5s;
}

.ftr-contact-social ul li:hover {
    background-color: orange;
    border: 1px solid orange;
}

.ftr-contact-content span {
    color: rgb(163, 163, 163);
}

.ftr-bottom {
    border-top: 1px solid #fff;
    width: 100%;
    text-align: center;
}

.ftr-bottom p {
    text-align: center;
}

.ftr-bottom a {
    text-decoration: none;
    color: #fff;
}

/* .ftr-bottom a:hover {
    color: black;
} */

@media screen and (min-width: 768px) {
    .ftr-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .ftr-contact-social ul li {
        margin-right: 0.8rem;
    }
}

/* Products */

.products {
    max-width: 1200px;
    margin: auto;
}

.products__container {
    margin: 6.5rem 0 1.5rem;
    padding: 1rem;
    color: #737373;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product__name__title h2 {
    font-size: 30px;
    font-weight: 600;
    color: #2f333a;
}

.product__category p {
    font-size: 18px;
}

.product__category span {
    color: #eb3e32;
}

.product__price p {
    color: #2f333a;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid #ddd4d4;
    padding-bottom: 2rem;
}

.product__info {
    font-size: 19px;
    font-weight: 400;
    padding-top: 2rem;
}

.product__btn {
    margin: 2rem auto;
}

@media screen and (min-width:768px) {
    .products__container {
        flex-direction: row;
    }

    .product__info__container {
        width: 130%;
        padding: .5rem 0 0;
    }
}


/* LOGIN */



#login {
    /* background-image: url("../img/bg-01.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* height: 120vh; */
    padding: 7rem 0 3rem;
    background-color: #6E85B7;
}

.login-container {
    /* margin: 4.9rem 0 1.5rem; */

}

.form__box {
    background-color: #fff;
    border-radius: 10px;
    /* border: 2px solid red; */
    max-width: 330px;
    padding: 50px;
    margin: auto;
}

.form__box input {
    width: 100%;
    border: none;
    /* border-boçttom: 1px solid gray; */
    cursor: pointer;
    outline: none;
    font-family: inherit;
}

.form__box span {
    font-size: 13px;
    /* font-weight: 400; */
}

.login__title {
    font-size: 40px;
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: 600;
}

.form__username,
.form__password {
    margin-top: 2rem;
}

.user__img,
.user__password {
    display: flex;
    border-bottom: 2px solid gray;
}

.form__box svg {
    height: 30px;
    width: 30px;
    padding-right: .5rem;
}

.form__link {
    margin: .5rem 0;
}

.form__link a {
    float: right;
    text-decoration: none;
    font-size: 12px;
}

.form__btn button {
    width: 100%;
    height: 30px;
    margin: 2rem 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* background: transparent; */
    background: black;
    color: white;
}

/* .form__btn a {
    text-decoration: none;
    padding: 7px 94px;
    background: transparent;
} */

.form__text p {
    font-size: 13px;
    text-align: center;
}

.form__icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    font-size: 25px;
}

.form__icons a {
    text-decoration: none;
}

.form__icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form__icons .google {
    background-color: #eb3e32;
}

.form__icons .facebook {
    background-color: #3b5998;
}

.form__icons .twitter {
    background-color: #1da1f2;
}

@media screen and (min-width:1024px) {
    .form__box {
        max-width: 450px;
    }
}